{% extends "users/base.html" %}

{% block header %}
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94" role="img">
        <title>Fajne Dane - Przykłady użycia</title><path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z" fill="currentColor"></path></svg>
        <span class="fs-4">Fajne Dane</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'schema-swagger-ui' %}">Dokumentacja API</a>
      </nav>
    </div>
  </header>
{% endblock %}

{% block main %}
  <main>
      <div class="p-3 pb-md-4 mx-auto text-center">
          <h2 class="fw-normal">Przykłady użycia</h2>
          <p class="fs-6 text-muted">
              Dostęp do serwisu za pośrednictwem REST API może być trudny dla osób, które nie miały z tych wcześniej styczności.
              Z tego powodu, poniżej zamieszczone zostały podstawowe przykłady wykorzystania API w celu pobrania udostępnionych danych.
              Poniższy opis pokrywa jedynie niewielki fragment funkcjonalności serwisu. Jeżeli interesuje Cię pełna dokumentacja techniczna, kliknij <a href="{% url 'schema-swagger-ui' %}">tutaj</a>.
              Interfejs graficzny dokumentacji pozwala na opytywanie API bez potrzeby programowania lub ręcznego wykonywania zapytań do API serwisu.
          </p>
      </div>
      <div>
          <h3 class="fw-normal">1. Rejestracja i logowanie</h3>
          <h4 class="fw-normal">1.1. Rejestracja nowego konta</h4>
          <p class="fs-6">
              Pierwszym krokiem, który powinniśmy zrobić jest stworzenie konta i zalogowanie się. Dostępne są dwa sposoby rejestracji:
              <ul>
                  <li>Rejestracja przy pomocy graficznego interfejsu serwisu. Naciśnij przycisk <code>Zarejestruj się</code> w ekranie głównym (lub kliknij: <a href="{% url 'users:account-register' %}"> tutaj</a>).</li>
                  <li>Rejestracja przy pomocy REST API serwisu (zobacz endpoint <code>/api/v1/users/register/</code> w dokumentacji API).</li>
              </ul>
              Do rejestracji wymagany jest: <b>email</b> użytkownika, jego <b>imię i nazwisko</b> oraz <b>hasło</b>. Zalecanym i znacznie prostrzym sposobem rejestracji jest użycie interfejsu.
              <b>Jeżeli konto nie zostało aktywowane, to nie będzie można się nim zalogować.</b>
          </p>

          <h4 class="fw-normal mt-4">1.2. Logowanie w serwisie</h4>
          <p class="fs-6">
              Logowanie umożliwia dostęp do danych przy pomocy serwisu. W celu uzyskania dostępnu do API wymagane jest uzyskanie odpowiednich <b>tokenów autoryzacyjnych</b>.
              Sposób uzyskania tokenów został opisany w kolejnej sekcji tego dokumentu.
          </p>
          <p class="fs-6">
              W celu zalogowania stworzonego wcześniej konta naciśnij przycisk <code>Zaloguj się</code> w ekranie głównym (lub kliknij: <a href="{% url 'users:account-login' %}"> tutaj</a>).
          </p>

      </div>
      <div class="mt-5">
          <h3 class="fw-normal">2. Autoryzacja</h3>
          <h4 class="fw-normal">2.1. Uzyskanie tokenów</h4>
          <p class="fs-6">
              Dostęp do api autoryzowany jest przy pomocy standardu JWT (<i>JSON Web Token</i>, zob: <a href="https://en.wikipedia.org/wiki/JSON_Web_Token">https://en.wikipedia.org/wiki/JSON_Web_Token</a>).
              Podejście to zakłada użycie dwóch typów tokenów:
              <ul>
                  <li>Token <code>access</code> - używany w celu autoryzacji do API,</li>
                  <li>Token <code>refresh</code> - używany w celu odświeżenia tokenu <code>access</code>.</li>
              </ul>

              W celach zapewnienia bezpieczeństwa, długość życia tokenów została ograrniczona:
              <ul>
                  <li>Token <code>access</code> aktywny jest <b>60 minut</b>,</li>
                  <li>Token <code>refresh</code> aktywny jest <b>1 dzień</b>.</li>
              </ul>
          </p>

          <p class="fs-6">
            Zaczymany od wykonania zapytania typu POST do endpointu <code>/api/v1/token/</code>. Uzyskanie tokenów przypomina proces logowania. W treści zapytania przesyłamy <b>login</b> i <b>hasło</b> użytkownika.
          </p>
          <div class="card">
              <div class="card-body">
                  <pre style="margin-bottom: -30px; margin-top: -10px;">
                      <code>
curl 'http://fajne-dane.herokuapp.com/api/v1/token/' \
  -H 'Content-Type: application/json' \
  --data-raw '{"email":"EMAIL UŻYTKOWNIKA","password":"HASŁO"}'
                      </code>
                  </pre>
              </div>
          </div>

          <p class="fs-6 mt-3">
              W odpowiedzi od systemu otrzymujemy object JSON zawierający dwa tokeny: <code>access</code> oraz <code>refresh</code>:
          </p>
          <div class="card">
              <div class="card-body">
                  <pre style="margin-bottom: -30px; margin-top: -10px;">
                      <code>
{
    "refresh": "4ZDcxNThjM2Q4YSIsInVzZXJfaWQiOjF9.AqXKTaB63CH6DCMI6Qqf90LnKKjyT6Vi8vyVWbIiWBc[...]",
    "access": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxN[...]"
}
                      </code>
                  </pre>
              </div>
          </div>

          <h4 class="fw-normal mt-4">2.2. Odświeżenie tokenu <code>access</code></h4>
          <p class="fs-6">
              Zaczymany od wykonania zapytania typu POST do endpointu <code>/api/v1/token/refresh</code>.
              W treści zapytania przesyłamy jedynie nasz aktywny <code>refresh</code> token.
              Jeżeli używany token wygasł (minęło ponad 24 godziny), to wymagane jest ponowne użycie endpointu <code>/api/v1/token/</code> w celu uzyskania nowej pary tokenów.
          </p>
          <div class="card">
              <div class="card-body">
                  <pre style="margin-bottom: -30px; margin-top: -10px;">
                      <code>
curl 'http://fajne-dane.herokuapp.com/api/v1/token/refresh/' \
  -H 'Content-Type: application/json' \
  --data-raw '{"refresh":"4ZDcxNThjM2Q4YSIsInVzZXJfaWQiOjF9.AqXKTaB63CH6DCMI6Qqf90LnKKjyT6Vi8vyVWbIiWBc[...]"}'
                      </code>
                  </pre>
              </div>
          </div>

          <p class="fs-6 mt-3">
              W odpowiedzi od systemu otrzymujemy object JSON zawierający dwa tokeny: <code>access</code> oraz <code>refresh</code>:
          </p>
          <div class="card">
              <div class="card-body">
                  <pre style="margin-bottom: -30px; margin-top: -10px;">
                      <code>
{
    "access": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxN[...]"
}
                      </code>
                  </pre>
              </div>
          </div>

      </div>
      <div class="mt-5">
          <h3 class="fw-normal">3. Zbiory danych</h3>
          <h4 class="fw-normal">3.1. Dostęp do zbiorów danych</h4>
          <p class="fs-6 mt-3">

              Wszystkie zbiory danych dostępne są w dwóch formach:
              <ul>
                   <li><b>Dane surowe</b>, w których oprócz finalnych oznaczeń dokumentu dostępne są również odrzucone odpowiedzi.</li>
                   <li><b>Dane zaagregowane</b>, które mają postać prostych do pobrania plików CSV i zawierają jedynie zaakceptowane oznaczenia dokumentów.</li>
              </ul>

              Najprostrzym sposobem dostepu do danych jest pobranie danych zaagregowanych przy pomocy serwisu. Aby zobaczyć listę wszystkich dostępnych zbiórów danych w raz z linkami do plików, wystarczy nacisnąć: <a href="{% url 'data_source_list' %}">tutaj</a>
          </p>

          <p>
              Innym sposobem jest dostęp do plików przy pomocy API.
              Aby pobrać listę wszystkich dostępnych zbiorów danych wystarczy użyć endpointu <code>/api/v1/reports/sources/</code>.
              Dostęp do API wymaga przekazania tokenu autoryzacyjnego <code>access</code> w nagłówku zapytania:
          </p>
          <div class="card">
              <div class="card-body">
                  <pre style="margin-bottom: -30px; margin-top: -10px;">
                      <code>
curl 'http://fajne-dane.herokuapp.com/api/v1/reports/sources/' \
  -H 'Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiw[...]' \
                      </code>
                  </pre>
              </div>
          </div>
          W odpowiedzi otrzymamy listę wszystkich dostępnych zbiorów danych, wraz z linkami do plików CSV, które można pobrać.

          <div class="card">
              <div class="card-body">
                  <pre style="margin-bottom: -30px; margin-top: -10px;">
                      <code>
[
  {
    "id": 1,
    "campaign_name": "NAZWA ZBIORU DANYCH",
    "file_url": "LINK DO PLIKU"
  },
  ...
]
                      </code>
                  </pre>
              </div>
          </div>
      </div>
  </main>
{% endblock %}
