{% extends "users/base.html" %}

{% block main %}

    <main class="form-signin">
        <form method="post" action="{% url 'users:account-reset-password' %}">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Resetuj hasło</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.pl">
                <label for="floatingInput">Adres email</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" style="margin-top: 10px" type="submit">Resetuj</button>
        </form>
        <div>
            <a href="{% url 'users:account-login' %}">Zaloguj się</a>
        </div>
        <div>
            <a href="{% url 'index' %}">Wróc do strony głównej</a>
        </div>
    </main>

{% endblock %}
